numpy==1.26.4
pandas==2.2.1
matplotlib==3.8.2
seaborn==0.12.2
geopandas==0.14.3
shapely==2.0.3
pyproj==3.7.1
folium==0.19.7
streamlit-folium==0.15.1
scikit-learn==1.4.0
pandera==0.18.0
spacy==3.7.4
textblob==0.17.1
nltk==3.8.1
gensim==4.3.0
summa==1.2.0
langdetect==1.0.9
plotly==5.22.0
statsmodels==0.14.4
streamlit==1.36.0